.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.shoping-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
    margin: 82px auto;
}